####################################
# dependencies
####################################

node_modules/

####################################
# env
####################################

.env

####################################
# logs
####################################

logs/
*.log
npm-debug.log*

####################################
# uploads
####################################

uploads/*
!uploads/.gitkeep

####################################
# coverage
####################################

coverage/

####################################
# vscode
####################################

.vscode/

####################################
# os
####################################

.DS_Store
Thumbs.db

####################################
# misc
####################################

*.pid
*.seed
*.pid.lock